.input__text,
.result__text,
.result__diff
{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    margin: 0;
}

.input__text,
.result__text
{
    margin-top: 2px;
    padding: 8px;
}

.input__clear:hover
{
    color: red;
}

.input__save,
.input__copy
{
    position: relative;
    top: 5px;

    margin-right: 5px;
}
