.result
{
    &__html
    {
        display: none;

        border: 1px solid #a0a0a0;
        background: #fefefe;
    }

    &__diff
    {
        display: none;
        overflow-y: auto;

        white-space: pre-wrap;

        border: 1px solid #a0a0a0;
        background: #fefefe;
    }

    &__as
    {
        float: right;
    }

    &__text,
    &__html,
    &__diff
    {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 8px;
    }
	
	&__html
	{
		overflow-y: auto;
	}
	
	&__html p
	{
		margin: 0 0 1em 0;
		padding: 0;
	}

}
