@import './input@desktop.css';
@import './input@mobile.css';

.input
{
    height: 100%;

    &__head
    {
        margin-bottom: 3px;
        white-space: nowrap;
    }

    &__text
    {
        resize: none;
    }

    &__clear
    {
        width: 20px;
        height: 20px;

        position: absolute;

        display: none;

        cursor: pointer;
        -webkit-user-select: none;
           -moz-user-select: none;
                user-select: none;
        transition: color .3s ease;

        color: black;
        background-size: 100% 100%;
        background-position: center center;
        background-repeat: no-repeat;
        background-image: svg-load('./cross_light.svg');
        opacity: .8;
    }

    &__actions
    {
		position: absolute;
        z-index: 3;
        min-height: 30px;
    }
}
