.page_desktop {
    .app {
        min-width: 800px;

        &__table {
            box-sizing: border-box;
            width: 100%;
            height: 100%;
            padding: 10px 10px;
        }

        &__container {
            position: absolute;
            top: 55px;
            bottom: 30px;
            left: 0;
            margin: 0;
        
            box-sizing: border-box;
            width: 100%;
            padding: 5px 0;
        }
    }
}

.page_mobile {
    .app__container {
        position: absolute;
        top: 40px;
        bottom: 40px;
        left: 0;

        box-sizing: border-box;
        width: 100%;
        padding: 5px 0;
    }
}
