.page_is-desktop
{
    .container
    {
        min-width: 640px;
        margin: 0;
    }

    .input__text,
    .result__text,
    .result__diff
    {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        margin: 0;
    }

    .table
    {
        box-sizing: border-box;
        width: 100%;
        height: 100%;
        padding: 10px 10px;
    }

    .table__left,
    .table__right
    {
        position: relative;

        box-sizing: border-box;
        width: 50%;
        height: 100%;
        padding-bottom: 2em;
    }

    .table__left
    {
        float: left;

        padding-right: 10px;
    }

    .table__right
    {
        float: right;

        box-sizing: border-box;
        padding-left: 10px;
    }

    .result__html
    {
        display: none;

        padding: 3px;

        background: #fefefe;
        border: 1px solid #a0a0a0;
    }

    .result__diff
    {
        display: none;

        padding: 3px;

        background: #fefefe;
        border: 1px solid #a0a0a0;

        white-space: pre-wrap;
        overflow-y: auto;
    }

    .input__save,
    .input__copy
    {
        position: relative;
        top: 5px;

        margin-right: 5px;
    }

    .entity-nb
    {
        opacity: .4;
        background: green;
    }

    .prefs__rule
    {
        padding-right: 1em;
    }

    .result__as
    {
        float: right;
    }
}
