.footer
{
    font-size: 13px;

    position: absolute;
    bottom: 0;

    box-sizing: border-box;
    width: 100%;
    padding: 10px;

    border-top: 1px solid #e0e0e0;

    &__line {
        display: flex;
        margin-bottom: 5px;
    }    

    &__left
    {
       float: left;

        .footer__item
        {            
            margin-right: 20px;
        }
    }

    &__right
    {
        float: right;

        .footer__item
        {
            float: right;

            margin-left: 20px;
        }
    }
}

#version
{
    font-size: 10px;

    position: relative;
    top: -5px;

    display: inline-block;

    min-width: 2em;
    margin-left: 3px;
}
